<!--The content below is only a placeholder and can be replaced.-->
<ag-grid-angular 
    #agGrid
    style="width: 100%; height: 100%;" 
    class="ag-theme-material"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [enableSorting]="true"
    [enableFilter]="true"
    rowSelection="multiple"
    [enableColResize]="true"
    (gridSizeChanged)="gridresize($event)"
    (columnResized)="onColumnResized($event)"
    (gridReady)="onGridReady($event)" 
    colResizeDefault='shift' 
    >
</ag-grid-angular>

